html, body, #app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.home, .detail {
  .weui-search-bar:before {
    border: none;
  }

  .weui-search-bar {
    background-color: black;
  }
}


